body {
  margin: 0;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  width: 50%;
  margin: 0 auto;
  padding-top: 16px;
}

h2 {
  text-align: center;
  letter-spacing: 0.2cm;
}

h3 {
  font-size: 24px;
  margin-bottom: 0;
}

h4 {
  font-weight: normal;
  margin-top: 4px;
}

.filter {
  display: flex;
  margin: 0 auto;
  padding: 4px;
  border-radius: 20px;
  border: 2px solid #b1b1b1;
}

header {
  padding-bottom: 16px;
  border-bottom: 2px solid #000000;
  background-color: #fff;
}

.beer {
  margin: 8px;
  padding: 8px;
  /* border: 1px solid black; */
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgb(208, 208, 208);
}

.beer_info {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.beer_info > .intro {
  display: flex;
  align-items: center;
}

.beer_info > img {
  height: 100%;
}

.sort {
  font-size: 14px;
  color: #9a9a9a;
}
