body {
  margin: 0;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  width: 50%;
  margin: 0 auto;
  padding-top: 16px;
}

h2 {
  text-align: center;
  letter-spacing: 0.2cm;
  margin-top: 0;
}

h3 {
  font-size: 24px;
  margin-bottom: 0;
}

h4 {
  font-weight: normal;
  margin-top: 4px;
}

main {
  margin-top: 55%;
}

.filter {
  display: flex;
  margin: 0 auto;
  padding: 8px;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid #b1b1b1;
}

header {
  padding-bottom: 16px;
  border-bottom: 5px solid #3b3b3b;
  background-color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.beer {
  position: relative;
  margin: 8px;
  padding: 8px;
  /* border: 1px solid black; */
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgb(208, 208, 208);

  background-image: url(/public/assets/img/logoBG.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100% 100%;
}
/* .beer:first-child::after {
  content: '定番!!!';
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(255, 144, 164);
  border-radius: 25px;
  padding: 8px 24px;
  animation-name: ani01;
  animation: 1s linear infinite ani01;
}
.beer:nth-child(2)::after {
  content: '人気 No.1';
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(114, 180, 255);
  border-radius: 25px;
  padding: 8px 24px;
  animation-name: ani01;
  animation: 1s linear infinite ani01;
} */

.recommend::after {
  content: 'おすすめ';
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(252, 255, 60);
  border-radius: 25px;
  padding: 8px 24px;
  animation-name: ani01;
  animation: 1s linear infinite ani01;
}
@keyframes ani01 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.beer_info {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.beer_info > .intro {
  display: flex;
  align-items: center;
}

.beer_info > img {
  height: 100%;
  margin: 0 10px;
}

.sort {
  font-size: 16px;
  /* color: #9a9a9a; */
  margin-left: 20px;
}

footer {
  height: 50px;
  background-color: #3b3b3b;
  color: #fff;
  text-align: center;
  padding-top: 25px;
}

.sold-out {
  color: #e3e3e3 !important;
}
.sold-out img {
  filter: grayscale();
}
.sold-out::after {
  content: '';
  background-image: url(../public/assets/img/sold-out.png);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100%;
  width: 300px;
  height: 200px;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}
